langchain==0.1.19
langchain-community==0.0.38
langchain-chroma==0.1.0
langchain-google-community[drive]==1.0.4
gpt4all==2.6.0
PyPDF2
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib